body {
    font-family: "Helvetica";
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;;
}

header {
    position: fixed;
    height: 69px;
    border-bottom: 1px solid seashell;
    z-index: 1;
    width: 100%;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.logo img {
    height: 50px;
    padding-left: 10px;
}

.navbar {
    text-align: right;
    display: inline-block;
    flex-grow: 1;
}

.navbar a {
    color: seashell;
    text-decoration: underline;

}

.navbar-items {
    padding-right: 2%;
}

.main{
    padding-top: 70px;
    width: 1200px;
    margin: auto;
}

#mission {
    background: url("../images/img-mission-background.jpg");
    height: 700px;
    width: 100%;
    margin: auto;
}

#mission .content {
    background-color: black;
    width: 100%;
    margin: auto;
    text-align: center;
}

#tea {
    padding-top: 70px;
    height: 700px;
    width: 1200px;
}

#tea .contents{
    max-height: 100%;
}

#tea .headings {
    text-align: center;
}

#tea .images {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#tea .tea-images img {
    height: 200px;
    width: 300px;
    object-fit: contain;
}

#tea .tea-images figcaption{
    text-align: center;
    display: block;
    font-weight: bold;
    padding-top: 10px;

}

#locations {
    margin-top: 100px;
    height: 500px;
    width: 1200px;
    background: url("../images/img-locations-background.jpg");
    padding-bottom: 300px;
}

#locations .heading {
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    margin-top: -100px;
}

#locations h2 {
    opacity: 0.9;
}

#locations .specifications {
    width: 300px;
    opacity: 1;
    padding-top: 15px;
    background-color: black;
    margin: 20px;
    text-align: center;
}

#locations .blocks {
    display: flex;
    margin-top: -300px;
}

#details {
    width: 1200px;
    height: 200px;
    display: block;
    text-align: center;
}

footer {
    text-align: left;
    padding-left: 20px;
}